
@font-face {
  font-family: 'kawoszeh';
  src: url('kawoszeh.eot?#iefix') format('embedded-opentype'),  url('kawoszeh.woff') format('woff'), url('kawoszeh.ttf')  format('truetype'), url('kawoszeh.svg#kawoszeh') format('svg');
  font-weight: normal;
  font-style: normal;
}
